<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>UserAccount.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>UserAccount.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>UserAccount.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>UserAccount.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListBlog</servlet-name>
        <servlet-class>Blog.GetListBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBlogById</servlet-name>
        <servlet-class>Blog.GetBlogById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogById</servlet-name>
        <servlet-class>Blog.DeleteBlogById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogById</servlet-name>
        <servlet-class>Blog.UpdateBlogById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllUser</servlet-name>
        <servlet-class>UserAccount.ListAllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BanUser</servlet-name>
        <servlet-class>UserAccount.BanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnbanUser</servlet-name>
        <servlet-class>UserAccount.UnbanUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserById</servlet-name>
        <servlet-class>UserAccount.GetUserById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserProfile</servlet-name>
        <servlet-class>UserAccount.EditUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserById</servlet-name>
        <servlet-class>UserAccount.DeleteUserById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListCourse</servlet-name>
        <servlet-class>Course.GetListCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCourseStatus</servlet-name>
        <servlet-class>Course.UpdateCourseStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCourseById</servlet-name>
        <servlet-class>Course.DeleteCourseById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseById</servlet-name>
        <servlet-class>Course.GetCourseById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrent</servlet-name>
        <servlet-class>UserAccount.GetCurrent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshToken</servlet-name>
        <servlet-class>jwt.RefreshToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Blog.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>UserAccount.SearchUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/user/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/user/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListBlog</servlet-name>
        <url-pattern>/blog/getListBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBlogById</servlet-name>
        <url-pattern>/blog/getBlogById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogById</servlet-name>
        <url-pattern>/blog/deleteBlogById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogById</servlet-name>
        <url-pattern>/blog/updateBlogById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllUser</servlet-name>
        <url-pattern>/user/listAllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BanUser</servlet-name>
        <url-pattern>/user/banUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnbanUser</servlet-name>
        <url-pattern>/user/unbanUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserById</servlet-name>
        <url-pattern>/user/getUserById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserProfile</servlet-name>
        <url-pattern>/user/editUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserById</servlet-name>
        <url-pattern>/user/deleteUserById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListCourse</servlet-name>
        <url-pattern>/course/getListCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCourseStatus</servlet-name>
        <url-pattern>/course/updateCourseStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCourseById</servlet-name>
        <url-pattern>/course/deleteCourseById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseById</servlet-name>
        <url-pattern>/course/getCourseById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrent</servlet-name>
        <url-pattern>/user/getCurrent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshToken</servlet-name>
        <url-pattern>/jwt/refreshToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/blog/addBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/user/searchUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
